body{
    background-color:lightblue;
    margin:0;
    padding:0;
}

#header{
    background-color:darkslategrey;
    height:150px;
    width:100%;
    margin:0;
    padding:0;
}

#difficulty{
    display:inline-block;
    width:60px;
    margin-Left:1%;
    margin-Top:1%;
    font-Size:18px;
    color:white;
    font-family:Space Mono;
}



#logoDiv{
    display:inline-block;
    margin-top:3%;
}

#logo{
    display:inline-block;
    font-family: Space Mono;
    color:white;
    font-Size:50px;
    width:100%;
    margin:0;
    padding:0;
}

#row0{
    height:180px;
}
#scoreboardHolder{
    width:160px;
    height:auto;
    display:inline-block;
    margin-Top:.5%;
}

#score{
    font-size:50px;
    color:white;
    font-family:Space Mono;
    display:inline-block;
    text-align:center;
    margin-Left:25%;

}

#scoreTitle{
    font-size:12px;
    text-align:center;
    font-weight:bold;
    font-family:Space Mono;
    padding:0px;
    margin:0px;
    margin-Top:5%;
}

#scoreboard{
    background-color:seagreen;
    height:90px;
    width:150px;
    border-radius:20px;
    display:inline-block;
}

#newGame{
    font-family:Space Mono;
    font-size:15px;
    color:white;
    border-radius:15px;
    opacity:.9;
    margin-top:5px;
    width:150px;
}

.btn {
    background: #089fdb;
}


/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper  {*/
    /*transform: rotateY(180deg);*/
/*}*/

.flip-it{
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/* flip speed goes here */
.flipper {

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}